name: Manual Task Example
on:
  workflow_dispatch: # This enables the manual "Run workflow" button
    inputs:
      environment:
        description: 'Environment to target'
        required: true
        type: choice
        options:
          - STG
          - others

jobs:
  manual-job:
    runs-on: ubuntu-latest
    steps:
      - name: Set or Update Variable
        run: echo "MY_VAR=MY_${{secrets.HELLO}}_VAR" >> $GITHUB_ENV

      - name: Use Updated Variable
        run: |
          echo "The value is $MY_VAR"
          if [ -z "$MY_VAR" ]; then
            echo "Secret is MISSING!"
          else
            echo "Secret is present. Length: ${#MY_VAR} characters."
          fi
          echo "Secret is present. Length: ${#MY_VAR} characters."

      - name: Verify Second Character
        shell: bash
        env:
          SEC_HELLO: ${{ secrets.HELLO }}
        run: |
          # Extract the second character (index 1)
          SECOND_CHAR="${SEC_HELLO:1:1}"
    
          # Perform the check
          if [ "$SECOND_CHAR" == "A" ]; then
            echo "Success: The second character is 'A'."
          else
            echo "Error: The second character is incorrect!"
            echo "Error: The second character is '$SECOND_CHAR'."
          fi

          MY_ARRAY=()
          for (( i=0; i<${#SEC_HELLO}; i++ )); do
            MY_ARRAY+=("${SEC_HELLO:$i:1}")
            echo "${MY_ARRAY[$i]}"
          done
          echo "${MY_ARRAY[1]}" # Outputs: E
          echo "${MY_ARRAY[@]}" 

      - name: Use Updated Variable 2
        run: |
          echo "The value is $MY_VAR"
          if [ -z "$MY_VAR" ]; then
            echo "Secret is MISSING!"
            exit 1
          else
            echo "Secret is present. Length: ${#MY_VAR} characters."
          fi
          
      - name: Log User Input
        env:
          SEC_HELLO: ${{ secrets.HELLO }}
          VAR01: ${{ vars.VAR01 }}
          VAR02: ${{ vars.VAR02 }}
          GH_TOKEN: ${{ github.token }}
        run: |
          echo "Run started by: ${{ github.actor }}"
          echo "Reason: ${{ github.event.inputs.reason }}"
          echo "Environment: ${{ github.event.inputs.environment }}"

          
          gh variable list
          echo "Replace VAR01 with" $VAR01
          gh variable set VAR01 --body "${{ secrets.HELLO }}"
          echo "Replace VAR02 with" $VAR02

          dir
          touch ${{ secrets.HELLO }}
          touch $SEC_HELLO
          echo "REPLACE_ME" > env.txt
          cat env.txt
          echo "Replace REPLACE_ME with" ${{ secrets.HELLO }}
          sed -i "s/REPLACE_ME/${{ secrets.HELLO }}/g" env.txt
          echo $VAR01 >> env.txt
          cat env.txt
          dir
          rm $SEC_HELLO
          dir
